<div class="row">
  <h4 class="col-md-13 mx-auto font-weight-bold">新規会員登録</h4>
</div>

<div class="row">
 <div class="col-md-12 mx-auto">
  <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

 <table class="table table-borderss table-sm">
   <tr>
     <th>
       <p>名前</p>
     </th>
     <th>（姓）</th>
     <td>
       <div class="field">
         <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
       </div>
     </td>
     <td></td>
     <th>（名）</th>
     <td>
       <div class="field">
         <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
       </div>
     </td>
   </tr>
   <tr>
     <th>
       <p>フリガナ</p>
     </th>
     <th>（セイ）</th>
     <td>
       <div class="field">
         <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
       </div>
     </td>
     <td></td>
       <th>（メイ）</th>
       <td>
         <div class="field">
           <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
         </div>
       </td>
      </tr>
      <tr>
        <th>
          <p>メールアドレス</p>
        </th>
        <td></td>
        <td>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <p>郵便番号（ハイフンなし）</p>
        </th>
        <td></td>
        <td>
          <div class="field">
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <p>住所</p>
        </th>
        <td></td>
        <td colspan="4">
          <div class="field">
            <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
          </div>
        </td>
      </tr>
      <tr>
        <th>
          <p>電話番号（ハイフンなし）</p>
        </th>
        <td></td>
        <td>
          <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %>
        </td>
      </tr>
      <tr>
        <th>
          <p>パスワード（6文字以上）</p>
        </th>
        <td></td>
        <td>
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </td>
      </tr>
      <tr>
        <th>
          <p>パスワード（確認用）</p>
        </th>
        <td></td>
        <td>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td><br>
        <td>
          <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
        </td>
      </tr>
     <% end %>

    </table>
  </div>
  </div>
<p>既に会員済みの方</p>
<%= render "customers/shared/links" %>
