<div class="container">
  <h2>配送先編集</h2>
      <div class="row">
        <div class="col-md-9">
         <%= form_for @delivery, :url => { :controller => :deliveries, :action => :update } do |f| %>
      <div class="form-group">
        <%= f.label "郵便番号" %><%= f.text_field :postal_code, class: "form-control" %>
        <%= f.label "住所" %><%= f.text_field :address, class: "form-control" %>
        <%= f.label "宛名" %><%= f.text_field :destination, class: "form-control" %>
        <%= f.submit '変更を保存', class: "btn btn-primary pull-right" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
