<div class="row">
  <h4 class="col-md-2 mx-auto font-weight-bold">管理者ログイン</h4>
</div>

<div class="row">
<div class="mx-auto">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <table class='table table-borderless'>
      <tr>
        <th><%= f.label :email, "メールアドレス" %></th>
        <td><%= f.email_field :email, autofocus: true, placeholder: "XXX@XXXX.com", size: "40" %></td>
      </tr>
      <tr>
        <th><%= f.label :password, "パスワード" %></th>
        <td><%= f.password_field :password, size: "40" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "ログイン", class: 'btn btn-primary btn-md' %></td>
      </tr>
    </table>
  <% end %>
  </div>
</div>