<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>注文情報確認</h2>
      <table class="table table-hover table-bordered col-sm-6">
        <thead>
          <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render 'public/orders/confirmination_table.html', cart_products: @cart_products %>
        </tbody>
      </table>
      <div class="fees-info border">
        <div class="fee-lists">
          <p>送料</p>
          <p>商品合計</p>
          <p>請求金額</p>
        </div>
        <div class="fees">
          <% @total %>
          <p><%= @delivery_fee %></p>
          <p><%= @sum %></p>
          <p><%= @total = @sum + @delivery_fee %></p>
        </div>
      </div>
      <div class="order_confirmination">
        <%= form_with model: @order, url: orders_thanks_path, local:true do |g| %>
          <%= g.hidden_field :payment_method, :value => @order.payment_method %>
          <%= g.hidden_field :delivery_postal_code, :value => @order.delivery_postal_code %>
          <%= g.hidden_field :delivery_address, :value => @order.delivery_address %>
          <%= g.hidden_field :delivery_name, :value => @order.delivery_name %>
          <p>支払方法 <%= @order.payment_method %></p>
          <p>お届け先</p>
          <%= @order.delivery_postal_code %>
          <%= @order.delivery_address %>
          <%= @order.delivery_name %>
          <%= g.submit '注文を確定する', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>