<h1>注文情報入力</h1>
 <%= form_with model: @order do |f| %>
<h3><%= f.label :支払方法 %></h3>
　<p><%= f.radio_button :payment_method, :credit %>クレジット</p>
　<p><%=f.radio_button :payment_method, :cash %>銀行振込</p>
<h3><%= f.label :お届け先 %></h3>
　<p><%= f.radio_button :address, :1 %>ご自身の住所</p>

　<% end %>
