<h1>注文情報入力</h1>
 <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
<h3><%= f.label :支払方法 %></h3>
　<p><%= f.radio_button :payment_method, :credit %>クレジット</p>
　<p><%=f.radio_button :payment_method, :cash %>銀行振込</p>
<h3><div><%= f.label :お届け先 %></div></h3>
<div><%= f.radio_button :address_opition, 0 %>現在の住所
　<p><%= current_customer.address %></p></div>
<p><div><%= f.radio_button :address_opition, 1 %>登録済みの住所</p>
<%= f.collection_select :delivery_id, current_customer.deliveries, :id, :all_address %></div>
<p><div><%= f.radio_button :address_opition, 2 %>新しいお届け先</p>
<p><%= f.label "郵便番号(ハイフンなし)" %><%= f.text_field :delivery_postal_code %></p>
<p><%= f.label "住所" %><%= f.text_field :delivery_address %></p>
<p><%= f.label "宛名" %><%= f.text_field :delivery_name %></p></div>
<%= f.submit '確認画面に進む', class: "btn btn-primary pull-right" %>




　<% end %>
