<div class="contatiner">
  <div class="row">
    <div class="col-md-3">
      <div class="product">
        <div class="product_image">
          画像
        </div>
        <div class="product_details">
          <h3><%= @product.name %></h3>
          <p><%= @product.introduction %></p>
          <p><span>¥<%= @product.price %></span>(税込)</p>
          <div class="order">
            
            <%= form_with(model: @cart_product, local: true) do |f| %>
            <%= f.select :amount, [*1..100], { include_blank: '個数選択'}, { class: 'form-control' , required: true } %>
            <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>